* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background: #f2f2f2;
}
.top-nav{
    background: #009270;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo img{
    height: 32px;
    margin-right: 20px;
}

.top-nav nav a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
}
.search-option{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}
.search-option i{
    cursor: pointer;
}
.search-option input{
    display: none;
    padding: 5px;
    border-radius: 4px;
    border: none;
}
.match-bar{
    background: #333;
    color: white;
    padding: 8px 20px;
    display: flex;
    gap: 20px;
    font-size: 13px;
}
.container{
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
}
.news{
    flex: 3;
    background: white;
    padding: 15px;
}
.news-card{
    display: flex;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.news-card img{
    width: 205px;
    height: 152px;
    margin-right: 15px;
}
.tag{
    color: #009270;
    font-size: 12px;
    font-weight: bold;
}
.sidebar{
    flex: 1;
    background: white;
    padding: 15px;
}
.photo-card{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
